:root {
  --primary-dark: #034c5b;
  --primary-light: #0a9196;
  --secondary-color: #77b677;
  --waring-dark: #f9a312;
  --waring-light: #d7c078;
  --danger-color: #b62321;
  --light-color: #dddddd;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6em;
}
@font-face {
  font-family: "star";
  src: url("./assets/fonts/Starjout.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
ul {
  list-style: none;
}
.btn {
  color: var(--waring-light);
  text-decoration: none;
  transition: 0.2s;
  border-bottom: 1px solid transparent;
}
.btn:hover {
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}
.padding {
  padding: 5px 15px;
}
.my-1 {
  margin: 20px 0;
}

nav {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

  background: var(--primary-dark);
}
.nav-left img {
  display: block;
  width: 70px;
  height: 40px;
}
.nav-right {
  display: flex;
  align-items: center;
}
.nav-right a {
  margin-left: 10px;
}

.hero {
  position: relative;
  height: 100vh;
  background: url("../src/assets/imgs/falcon-1920.jpg") no-repeat center
    center/cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  padding-top: 100px;
  font-family: "star";
  font-weight: 100;
  color: var(--waring-light);
  font-size: 6rem;
  opacity: 0;
  animation: 1.5s fadein 1s forwards;
}
@keyframes fadein {
  100% {
    opacity: 1;
  }
}
.hero-arrow {
  position: absolute;
  bottom: 25px;
  border: solid var(--waring-light);
  border-width: 0 15px 15px 0;
  display: block;
  visibility: visible;
  padding: 15px;
  transform: rotate(45deg);
  opacity: 0;
  animation: 3s showHide 1s infinite;
  transition: 0.3s;
}
.hero-arrow__hide {
  visibility: hidden;
}
@keyframes showHide {
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.columns {
  background-color: var(--waring-light);
  display: flex;
  justify-content: space-around;
}
.columns-item {
  margin: 40px 20px;
  text-align: center;
  height: 100%;
}
.columns-item i {
  font-size: 2rem;
}
.columns-item q {
  display: block;
  width: 200px;
  margin: 20px auto;
  padding: 0;
  line-height: 2rem;
  font-size: 1.2rem;
}

footer {
  background-color: var(--primary-dark);
  color: var(--waring-light);
  text-align: center;
}

.status {
  height: 100vh;
  background-color: var(--waring-light);
  display: flex;
  align-items: center;
  justify-content: center;
}
.status-container {
  text-align: center;
}
.status-image {
  display: flex;
}

.status-images {
  opacity: 0;
  animation: 1.5s fadein 1s forwards;
  width: 350px;
  height: 350px;
  border-radius: 50%;
  border: 15px solid gray;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--light-color);
}
@keyframes fadein {
  100% {
    opacity: 1;
  }
}
.status-image img {
  display: block;
  width: 70%;
}

.status-images_bg {
  background: var(--waring-light);
}

.status-image__border {
  border-color: var(--primary-dark);
}

.status-values {
  display: flex;
  justify-content: space-around;
}
.status-number {
  display: inline-block;
  width: 28px;
}

@media (max-width: 960px) {
  nav {
    position: static;
    width: 100%;
  }

  .hero h1 span {
    display: block;
    margin: 80px;
    text-align: center;
  }
  .hero-arrow {
    bottom: 70px;
  }
  .status-images {
    width: 300px;
    height: 300px;
  }
}
@media (max-width: 801px) {
  nav {
    flex-direction: column;
    align-items: center;
  }
  .nav-left img {
    margin: 10px 0;
    width: 90px;
    height: 50px;
  }
  .nav-right {
    margin-bottom: 10px;
  }
  .hero {
    height: 100vh;
    background: url("./assets/imgs/falcon-1024.jpg") no-repeat center center/
      cover;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .hero h1 {
    padding-top: 0;
  }
  .hero-arrow {
    bottom: 150px;
  }
  .status-images {
    width: 250px;
    height: 250px;
  }
  .columns {
    flex-direction: column;
  }
  .columns-item h2 {
    margin: 0;
  }
  .columns-item q {
    margin: 0 auto;
  }
}
@media (max-width: 667px) {
  .hero h1 {
    font-size: 4rem;
  }
  .status-images {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 504px) {
  .status-images {
    border-width: 10px;
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 375px) {
  .status-images {
    border-width: 5px;
    width: 130px;
    height: 130px;
  }
  .hero {
    background: url("./assets/imgs/falcon-404.jpeg") no-repeat center / cover;
  }
  .hero h1 {
    padding-top: 0;
  }
}
@media (max-width: 320px) {
  .status-images {
    border-width: 5px;
    width: 100px;
    height: 100px;
  }
}
@media (max-height: 376px) {
  .hero {
    justify-content: flex-start;
  }
  .hero-arrow {
    visibility: hidden;
  }
}
