:root {
  --primary-dark: #034c5b;
  --primary-light: #0a9196;
  --secondary-color: #77b677;
  --waring-color: #d7c078;
  --danger-color: #b62321;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6em;
  background: var(--primary-light);
}
