:root {
  --primary-dark: #034c5b;
  --primary-light: #0a9196;
  --secondary-color: #77b677;
  --waring-color: #d7c078;
  --danger-color: #b62321;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 18px;
}
body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.6em;
}
@font-face {
  font-family: "star";
  src: url("./assets/fonts/Starjout.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
ul {
  list-style: none;
}
.btn {
  color: var(--waring-color);
  text-decoration: none;
  transition: 0.2s;
  border-bottom: 1px solid transparent;
}
.btn:hover {
  color: var(--secondary-color);
  border-bottom: 1px solid var(--secondary-color);
}
.padding {
  padding: 5px 15px;
}
.my-1 {
  margin: 20px 0;
}
nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;

  background: var(--primary-dark);
}
.nav-left img {
  display: block;
  width: 70px;
  height: 40px;
}
.nav-right {
  display: flex;
  align-items: center;
}
.nav-right a {
  margin-left: 10px;
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./assets/imgs/starfalcon.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  font-family: "star";
  font-weight: 100;
  color: var(--waring-color);
  font-size: 4rem;
}

.columns {
  background-color: var(--waring-color);
  display: flex;
  justify-content: space-around;
}
.columns-item {
  margin: 40px 20px;
  text-align: center;
  height: 100%;
}
.columns-item p {
  width: 200px;
}
